h1,
.h1 {
  font-size: 4.375em; // 70px
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  // color: rgba(var(--primary-color), 1);

  @media #{$ipadpro} {
    font-size: 3.5em;  
  }

  @media #{$mob} {
    font-size: 2em;
    margin-bottom: 0.345em;
  }
}

h2,
.h2 {
  font-size: 3.5em; // 56px
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.500em 0;
  // color: rgba(var(--primary-color), 1);

  &.font-58 {
    @media #{$desktop} {
      font-size: 3.625em;
    }
  }

  @media #{$ipadpro} {
    font-size: 2.5em;
  }

  @media #{$ipad} {
    font-size: 2em;
    margin-bottom: 0.545em;
  }
}




h3,
.h3 {
  font-size: 2.25em; // 36px
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  // color: rgba(var(--primary-color), 1);

  @media #{$ipadpro} {
    font-size: 1.75em;
  }
}



h4,
.h4 {
  font-size: 1.625em; // 26px
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  // color: rgba(var(--primary-color), 1);

  @media #{$ipadpro} {
    font-size: 1.25em; 
  }

  &.font-30 {
    font-size: 1.875em;
    @media #{$ipadpro} {
      font-size: 1.25em; 
    }
  }
  &.font-28 {
    font-size: 1.75em; 
    @media #{$ipadpro} {
      font-size: 1.25em; 
    }
  }
}



h5,
.h5 {
  font-size: 1.25em; // 20px
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  // color: rgba(var(--primary-color), 1);

  @media #{$ipadpro} {
    font-size: 1.2em;
  }
}

h6,
.h6 {
  font-size: 1.125em; // 18px
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  // color: rgba(var(--primary-color), 1);

  @media #{$ipadpro} {
    font-size: 1.2em;
  }
}



p,
.p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0 0 1.2727em 0;
  // &:last-child {
  //   // margin: 0 0 1.4em 0;
  // }

  // strong {
  //   color: rgba(var( --primary-color), 1);
  // }

  @media #{$ipadpro} {
    font-size: 1em;
    margin-bottom: 1em;
  }
}



