.home-hero {
  background-color: rgb(var(--black-color));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  // overflow: hidden;
  @media #{$mob} {
    justify-content: center;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      #020d1c -3.21%,
      rgba(15, 56, 112, 0) 34.59%
    );
    height: 80%;
    z-index: 2;
    user-select: none;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      #020d1c -3.21%,
      rgba(15, 56, 112, 0) 34.59%
    );
    height: 100%;
    z-index: 2;
    user-select: none;
  }

  .swiper-slide {
    overflow: hidden;
    img {
      transition: all 4s ease 1s;
    }
    &-active {
      .img-wrapper {
        img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
  }

  .swiper-pagination-bullets.swiper-pagination {
    bottom: unset;
    width: auto;
    left: unset;
    left: 3.90625%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;

    @media #{$mob} {
      bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      top: unset;
      flex-direction: row;
      justify-content: center;
      transform: none;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid rgb(var(--white-color));
      margin: 12px 0;
      background: rgb(var(--secondary-color));
      opacity: 1;

      @media #{$mob} {
        margin: 2em 1em;
      }

      &:hover {
        background-color: rgb(var(--white-color));
      }
    }

    .swiper-pagination-bullet-active {
      // background: rgb( var(--primary-color));
      border-color: rgb(var(--primary-color));
    }
  }

  > .container {
    height: 100%;
    width: 100%;

    > .custom-row {
      height: 100%;
      align-items: flex-end;
    }
  }

  &__video__panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.46);
      z-index: 2;
      pointer-events: none;
    }

    > img,
    > video,
    > iframe {
      height: 56.25vw;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      z-index: 1;
      width: 177.77777778vh;
    }

    .img-wrapper {
      height: 100%;
    }

    .video-poster {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;

      picture {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   background: linear-gradient(180deg,
    //       rgba(0, 0, 0, 0) 20.41%,
    //       rgba(0, 0, 0, 0.81) 100%);
    //   opacity: 0.5;
    //   z-index: 1;
    //   pointer-events: none;

    //   @media #{$mob} {
    //     opacity: 1;
    //   }
    // }

    img,
    video,
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img-wrapper {
      height: 100%;
    }

    picture {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    position: relative;
    z-index: 3;
    text-align: center;
    color: rgb(var(--white-color));
    width: 100%;
    padding-bottom: 0;
    max-width: 62.5em;
    margin: 0 auto 3em;
    @media #{$ipadpro} {
      padding: 0 2em;
    }
    @media #{$mobL} {
      padding: 1em 1em;
      background: rgba( var(--black-color),0.5);
      backdrop-filter: blur(8px);
    }

    &__left {
      font-size: 1.625em;
      font-weight: 400;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      margin: 0 0 0.769em;
      display: inline-block;
    }

    .description {
      color: rgb(var(--white-color));
      font-weight: 700;
      margin-bottom: 0.21em;
      text-transform: capitalize;
    }

    &__main {
      .p {
        font-weight: 400;
        color: rgb(var(--white-color));
        margin-bottom: 0;
        @media #{$ipadL} {
          padding: 0 4em;
        }
      }
    }
  }

  &__social {
    position: absolute;
    z-index: 3;
    color: rgb(var(--white-color));
    align-items: center;
    right: 3.5%;
    top: 50%;
    transform: translateY(-50%);
    // display: none;

    @media #{$desktop} {
      display: flex;
    }

    @media #{$mobL} {
      display: none;
    }

    &__lists {
      list-style: none;
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 -0.8636em;
      font-size: 1em;

      // > li {
      //   padding: 1em 0;
      // }

      img,
      svg {
        width: 1em;
        height: 1em;
      }

      svg {
        path {
          transition: $transition;
        }
      }

      a {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(var(--white-color));
        font-weight: 300;
        color: rgb(var(--white-color));
        text-transform: capitalize;
        width: 2.625em;
        height: 2.625em;
        background: transparent;
        border-radius: 50%;
        transition: $transition;

        &:hover {
          background: rgba(var(--primary-color));
          // path {
          //   fill: rgb(var(--primary-color));
          // }
        }
      }
    }
  }

  // &__whattsapp {
  //   position: absolute;
  //   z-index: 3;
  //   left: 4%;
  //   bottom: 2em;
  //   animation: callAction 0.5s linear 0s infinite alternate;
  //   cursor: pointer;

  //   @media #{$tab} {
  //     bottom: 2.375em;
  //   }

  //   @media #{$desktop} {
  //     bottom: 4.375em;
  //   }

  //   img {
  //     max-width: 2em;

  //     @media #{$tab} {
  //       max-width: 3.75em;
  //     }
  //   }
  // }

  // &__chat {
  //   position: absolute;
  //   z-index: 3;
  //   right: 4%;
  //   bottom: 2em;
  //   cursor: pointer;
  //   width: 4.6875em;
  //   height: 4.687em;
  //   background: transparent;
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   // animation: callAction 0.7s linear 0s infinite alternate;
  //   border: 1px solid rgb(var(--white-color));

  //   // @media #{$tab} {
  //   //   width: 5.625em;
  //   //   height: 5.625em;
  //   //   bottom: 2.375em;
  //   // }

  //   @media #{$desktop} {
  //     bottom: 5.85em;
  //   }

  //   @media #{$ipadpro} {
  //     display: none;
  //   }

  //   img {
  //     max-width: 3em;

  //     @media #{$tab} {
  //       max-width: 4.6875em;
  //     }
  //   }

  //   .mouse {
  //     margin: 0 auto;
  //     display: block;
  //     border-radius: 3.125em;
  //     border: 2px solid #fff;
  //     height: 2.5em;
  //     width: 1.5em;
  //     position: relative;

  //     .move {
  //       position: absolute;
  //       background-color: #fff;
  //       height: 0.5em;
  //       width: 0.5em;
  //       border-radius: 50%;
  //       left: 32%;
  //       transform: translateX(-50%);
  //       animation: callAction 1s linear 0s infinite alternate;
  //       opacity: 0.8;
  //     }
  //   }
  // }

  &__contacts {
    position: fixed;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1.24875em;
    margin-right: 4.78em;
    margin-bottom: 4.375em;
    bottom: 5em;
    @media (max-width: 1366px) {
      bottom: 10em;
    }
    @media #{$ipadpro} {
      gap: 1em;
      margin-right: 2em;
      margin-bottom: 2em;
    }
    @media #{$mobL} {
      display: none;
    }

    .item {
      width: 2.875em;
      height: 2.875em;
      animation: userCome 1s linear 0s infinite alternate;
      &--chat {
        background: rgb(var(--gold-color));
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-delay: 1s;
        img,
        svg {
          width: 1.625em;
          height: 1.625em;
        }
      }
    }
  }

  iframe {
    max-width: 100vw;
    width: 100vw;
    height: 57.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media #{$mob} {
      top: 50%;
    }
  }

  &__filter {
    position: relative;
    z-index: 3;
    max-width: 79.625em;
    margin: 0 auto 4.4375em;
    @media #{$ipadpro} {
      margin-bottom: 4em;
      z-index: 11;
      max-width: 100%;
    }

    

    form {
      display: flex;
      background: rgb(var(--white-color));
      @media #{$ipadpro} {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .c_form-field {
      flex: 0 0 33.333333%;
      width: 33.333333%;
      background: rgb(var(--white-color));
      padding: 1.4375em 1.75em;
      margin: 0;
      @media #{$ipadpro} {
        flex: 0 0 100%;
        width: 100%;
        padding: 1.4em 1em 0.3em;
      }
    }
    label {
      font-size: 1em;
      color: rgb(var(--primary-color));
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
    }
    .filter-btn {
      position: absolute;
      width: 4.5em;
      height: 4.5em;
      background: rgb(var(--gold-color));
      right: 0.9375em;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      @media #{$ipadpro} {
        position: static;
        width: 3.5em;
        height: 3.5em;
        margin-top: 2em;
      }
      button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $transition;
        &:hover {
          background: rgb(var(--primary-color));
        }
      }
      img {
        width: 1.6875em;
        height: 1.6875em;
      }
    }
  }
}


@keyframes userCome {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(0.4375em);
  }
  
}



// property highlights
.property-highlight__main-wrapper {
  margin-top: 2.5em;
  position: relative;
  @media #{$mobL} {
    margin-top: 2em;
  }
  .btnn-group {
    margin-top: -3em;
    position: absolute;
    right: 0;
    top: -3.05em;
    @media #{$mobL} {
      position: static;
      margin: 0 0 1em;
      justify-content: center;
    }
  }
}

.property-highlight__slider-wrapper {
  margin: 0 -1.5625em;
  .swiper-slide {
    width: 35.625em;
    padding: 0 1.5625em 3.125em;
    @media #{$ipadpro} {
      width: 28.625em;
      padding: 0 1em 3.125em;
      @media #{$mobL} {
        padding-bottom: 2em;
      }
    }
    @media #{$mobL} {
      width: 100%;
    }
  }
}
.property-highlight__navigation__btns {
  display: flex;
  align-items: center;
  gap: 1.875em;
  @media #{$mobL} {
    gap: 1em;
  }
  .navigation-swiper {
    display: flex;
    align-items: center;
    gap: 0.625em;
  }
  .seprator {
    flex: 0 0 calc(100% - 22.8573125em);
    height: 1px;
    background: rgba(var(--primary-color), 0.5);
    @media #{$mobL} {
      flex: 0 0 calc(100% - 20em);
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin: 0;
  }
}

// about
.about-bg {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  display: none;
  @media #{$desktop} {
    display: block;
  }
}

.h_ab_figure-lg {
  height: 48.75em;
  @include imageHover;
  @media #{$ipad} {
    height: 25em;
    max-width: 70%;
    margin: 0 auto 2em;
  }
  @media #{$mobL} {
    max-width: 100%;
  }
}

.h_ab_figure-sm {
  height: 15.625em;
  margin-top: auto;
  z-index: 1;
  @include imageHover;
  @media #{$ipad} {
    display: none;
  }
}

.h_ab_center-panel {
  @media #{$desktop} {
    padding-left: 3.75em;
  }
}

// latest property  slider
.latest-properties {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(50% 50% at 50% 50%, #535353 0%, #2d2d2d 100%);
    user-select: none;
    z-index: 0;
  }
  &__main-wrapper {
    .btnn-group {
      justify-content: center;
    }
    .swiper-slide {
      opacity: 0.6;
      transition: $transition;
      &-active {
        opacity: 1;
      }
    }
  }
  &__slider {
    padding-top: 2.75em;
    @media #{$mobL} {
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 2em;
    }
    .swiper-button-prev {
      left: 10%;
    }
    .swiper-button-next {
      right: 10%;
    }
    .non-swiper-slide {
      display: none;
    }
  }
  &__navigation {
    @media #{$mobL} {
      display: flex;
      justify-content: center;
      gap: 0.71428em;
      margin-top: 2em;
    }
    .swiper-button-prev,
    .swiper-button-next {
      @media #{$mobL} {
        position: static;
        margin: 0;
      }
    }
  }
}

// our partners
.our-partners-grid {
  display: grid;
  max-width: 91.875em;
  margin: 5.5em auto 0;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  justify-content: center;
  @media #{$mobL} {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    margin-top: 2em;
  }
}
.our-partners__item {
  border-right: 1px solid rgba(var(--primary-color), 0.1);
  border-top: 1px solid rgba(var(--primary-color), 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 2em;
  &:nth-child(5n) {
    @media #{$tab} {
      border-right: 0;
    }
  }
  @media #{$mob} {
    &:nth-child(even) {
      border-right: 0;
    }
  }
  &:nth-child(-n + 5) {
    @media #{$tab} {
      border-top: 0;
    }
  }
  @media #{$mob} {
    &:nth-child(-n + 2) {
      border-top: 0;
    }
  }
  .figure {
    img,
    svg {
      margin: 0 auto;
      width: auto;
      max-width: 90%;
      max-height: 9.375em;
    }
  }
}

// contact us

.contact-us {
  height: 42.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  @include imageHover;
  @media #{$mobL} {
    height: 28.5714em;
  }

  // &:hover & {
  //   &__figure {
  //   }
  // }
  &::before {
    content: "";
    position: absolute;
    border-radius: 79.6875em;
    opacity: 0.4;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #000 0%,
      rgba(0, 0, 0, 0) 100%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 79.6875em;
    height: 46.9375em;
    z-index: 1;
    left: -27.625em;
    pointer-events: none;
  }
  .container-s {
    z-index: 2;
  }
  .generic-panel {
    max-width: 30em;
  }
}

.contact-us__figure {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
