.primary-color {
  color: rgba(var(--primary-color), 1);
}

.primary-bg {
  background-color: rgba(var(--primary-color), 1);
}


.secondary-color {
  color: rgba(var(--secondary-color), 1);
}

.secondary-bg {
  background-color: rgba(var(--secondary-color), 1);
}

.white-color {
  color: rgba(var(--white-color), 1);
}

.white-bg {
  background-color: rgba(var(--white-color), 1);
}

.black-color {
  color: rgba(var(--black-color), 1);
}

.black-bg {
  background-color: rgba(var(--black-color), 1);
}




