.c-accordion {
  background-color: rgba(var(--gray-color), 1);
  height: 100%;
  padding: 4.375em 3.125em;
  @media #{$ipad} {
    padding: 2em;
  }

  &__item {
    border-bottom: 1px solid rgba(var(--white-color), 0.2);
    padding-bottom: 1em;
    @media #{$ipad} {
      padding-bottom: 0.5em;
    }
  }

  &__button {
    font-size: 1.875em;
    border: 0;
    padding: 0.54em 1.5em 0 0;
    background: transparent;
    color: rgba(var(--white-color), 1);
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: $transition;
    position: relative;
    font-weight: 700;

    @media #{$ipad} {
      padding: 0.54em 1.5em 0.5em 0;
    }

    @media #{$ipad} {
      font-size: 1.2em;
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../svg/accordion-icon.svg") center center/auto no-repeat;
      width: 1.1666em;
      height: 1.1666em;
      right: 0;
      top: 63%;
      transform: translateY(-50%);
      transform-origin: center top;
      transition: $transition;
      transition-duration: 0.3s;
      background-color: rgba(var(--black-color), 1);
      border-radius: 50%;
      @media #{$mobL} {
        width: 1.5em;
        height: 1.5em;
      }
    }

    &:hover {
      color: rgba(var(--primary-color), 1);
    }

    &.active {
      &::after {
        transform: rotate(45deg) translateY(-50%);
        background-color: rgba(var(--primary-color), 1);
      }
    }
  }

  &__collapse {
    max-height: 0;
    overflow: hidden;
    transition: $transition;

    &__body {
      padding: 1.5em 0 0 0;
      font-weight: 400;
      line-height: 1.6em;
      color: rgba(var(--white-color), 1);
      @media #{$ipadpro} {
        padding: 0 0 1em 0;
      }
    }
  }

  &--academic-category {
    padding: 2.5em 2.5em 0;
    @media #{$mobL} {
      padding: 2em 2em 0;
    }

    ul {
      padding-left: 1em;
    }
    .c-accordion__item {
      padding-bottom: 1.5em;
      @media #{$ipad} {
        padding-bottom: 0;
      }
      .c-accordion__button {
        @media #{$ipadpro} {
          margin-bottom: 0.5em;
        }
      }
      &:first-child {
        .c-accordion__button {
          padding-top: 0;
          
        }
      }
    }
    .c-accordion__button {
      color: rgba(var(--primary-color), 1);
      padding-top: 1em;
      @media #{$tabL} {
        font-size: 1.625em;
      }
      &::after {
        background-image: url("../svg/plus.svg");
        background-color: transparent;
        width: 0.9230em;
        height: 0.9230em;
        top: 75%;
        @media #{$ipad} {
          top: 55%;
        }
        @media #{$mobL} {
          top: 50%;
        }
      }
      &.active {
        &::after {
          background-image: url("../svg/minus.svg");
          transform: translateY(-50%);
        }
      }
    }
  }
}
