.btnn {
  font-size: 1.125em;
  font-family: $basefont;
  position: relative;
  font-weight: 600;
  text-align: center;
  padding: 0.8em 2.2em;
  color: rgba(var(--white-color), 1);
  background-color: rgba(var(--gold-color), 1);
  line-height: 1em;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: $transition;
  user-select: none;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 0;
  gap: 0.6em;
  @media #{$ipadpro} {
    font-size: 1em;
  }

  path {
    stroke: rgba(var(--primary-color), 1);
  }

  &:hover {
    background-color: transparent;
    color: rgba(var(--primary-color), 1);
    border-color: rgba(var(--primary-color), 1);
    .btnn__text {
      transform: translateX(-0.833em);
    }
    .btnn__icon {
      opacity: 1;
    }
  }

  &__text {
    transition: $transition;
    transition-property: transform;
    pointer-events: none;
  }

  &__icon {
    width: 1.6111em;
    height: 1.6111em;
    flex: 0 0 1.6111em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
    transition-delay: 0.1s;
    pointer-events: none;
    position: absolute;
    right: 1.0555em;
    opacity: 0;

    img,
    svg {
      width: 1.2222em;
      transition: $transition;
    }
  }

  &:focus {
    outline: none;
  }

  &--outline {
    @extend .btnn;
    background-color: transparent;
    color: rgba(var(--primary-color), 1);
    border-color: rgba(var(--primary-color), 1);
  }
}

// .download-btnn {
//   font-size: 1.125em;
//   font-family: $basefont;
//   position: relative;
//   font-weight: 600;
//   text-align: center;
//   padding: 1.1875em 1.1875em 1.0625em 1.375em;
//   color: rgba(var(--primary-color), 1);
//   background-color: transparent;
//   line-height: 1em;
//   text-transform: uppercase;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   transition: $transition;
//   user-select: none;
//   border: 1px solid rgba(var(--primary-color), 1);
//   outline: 0;
//   cursor: pointer;
//   text-decoration: none;
//   vertical-align: middle;
//   border-radius: 0;
//   gap: 0.625em;
//   @media #{$ipadpro} {
//     font-size: 1em;
//   }

//   &:hover {
//     background-color: rgba(var(--gold-color), 1);
//     color: rgba(var(--white-color), 1);
//     border-color: transparent;
//     .download-btnn__icon {
//       path {
//         fill: rgba(var(--white-color), 1);
//       }
//     }
//   }

//   &__text {
//     pointer-events: none;
//   }
//   &__icon {
//     width: 1.25em;
//     height: 1em;
//     flex: 0 0 1.25em;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     pointer-events: none;
//     path {
//       transition: $transition;
//     }
//   }
//   &:focus {
//     outline: none;
//   }
// }

// absolute button
.absolute-btn-wrapper {
  position: absolute;
  right: 3.6458333333%;
  top: 9.7em;
  @media #{$ipadpro} {
    top: 6em;
  }

  @media #{$ipad} {
    position: static;
    text-align: center;
    margin-top: 2em;
  }
  &--single-title {
    top: 6.5em;
    @media #{$ipadpro} {
      top: 2.5em;
    }
  }
}

.btnn-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875em;
  @media #{$mobL} {
    gap: 1em;
  }
}

.rectangle-btn {
  @extend .btnn;
  padding-left: 2.2em;
  padding-right: 2.2em;
  font-weight: 500;
  @media #{$mobL} {
    padding-left: 2em;
    padding-right: 2em;
  }
  &:hover {
    background-color: rgba(var(--black-color), 1);
    color: rgba(var(--white-color), 1);
    border-color: transparent;
  }
  &--icon {
    padding-left: 1.1em;
    padding-right: 1.1em;
  }
  &--white {
    background-color: rgba(var(--secondary-color), 1);
    color: rgba(var(--primary-color), 1);
  }

  &.active {
    background: rgb(var(--gold-color));
    color: rgb(var(--secondary-color));
  }
}

.circle-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  flex: 0 0 2.5em;
  height: 2.5em;
  background-color: rgba(var(--primary-color), 1);
  border-radius: 50%;
  img,
  svg {
    width: 1.0625em;
  }
}

.w-uline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: $transition;
  @media #{$ipadpro} {
    font-size: 1em;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.19em;
    width: 100%;
    height: 2px;
    background: rgba(var(--secondary-color), 1);
    transform: scaleX(0);
    transition: $transition;
  }

  &:hover {
    &::after {
      transition: $transition;
      transform: scaleX(1);
    }
  }
}

.uline {
  @extend .w-uline;
  &::after {
    transform: scaleX(1);
  }
  &:hover {
    &::after {
      transform: scaleX(0);
    }
  }
}

.btnn-stretched {
  letter-spacing: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
  display: block;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    user-select: none;
    background: transparent;
    z-index: 1;
  }
}

.btnn-group {
  display: flex;
}
