.c_form-field {
  position: relative;
  margin: 0 0 1.25em;
  @media #{$tab} {
    margin: 0 0 1.875em;
  }

  label {
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: 0.5555em;
    display: block;
    color: rgba(var(--primary-color), 0.7);
  }

  &__control {
    font-family: $basefont;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(var(--black-color), 1);
    background-color: rgb(var(--white-color));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1.2em 0.7em 1.25em;
    transition: $transition;
    margin-bottom: 1em;
    border-radius: 0;
    border: 0;
    border: 1px solid rgba(var(--gray-color), 1);
    min-height: 3.75em;
    @media #{$mobL} {
      padding: 0.9em 0.5em 0.9em;
    }

    &::placeholder {
      color: rgba(var(--black-color), 0.4);
      opacity: 1;
    }

    // &:focus {
    //   border-color: rgba(var(--black-color), 0.8);
    // }

    &[type="number"] {
      &::-webkit-inner-spin-button,
      &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &:-internal-autofill-selected {
      background-color: transparent !important;
    }

    &:valid + .placeholder {
      display: none;
    }

    &.filled {
      border-bottom-color: rgba(var(--gray-color), 1);
    }
  }

  select {
    display: none;
  }

  .choices {
    font-size: 1em;
    &__inner {
      @extend .c_form-field__control;
    }

    // &[data-type*="select-one"]::after {
    //   margin-top: -0.40625em;
    // }
  }

  .choices[data-type*="select-one"] .choices__inner {
    margin: 0;
  }

  .intl-tel-input {
    margin-bottom: 1em;
  }

  .error {
    color: #dc3232;
  }

  &--type {
    .choices {
      max-width: calc(100% - 4.5em);
      @media #{$ipadpro} {
        max-width: calc(100% - 0em);
      }
    }
  }


}







.custom-radio-group {
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 0.6875em;
  transition: $transition;
  align-items: baseline;
  &:hover {
    label {
      color: rgba(var(--primary-color), 1);
    }
  }

  input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }

  label {
    font-size: 1.25em;
    position: relative;
    font-weight: 400;
    cursor: pointer;
    transition: $transition;
    text-transform: capitalize;
    color: rgba(var(--black-color), 0.4);
    @media #{$mobL} {
      font-size: 1em;
    }
  }

  .check {
    position: relative;
    border: 1px solid rgba(var(--gray-color), 1);
    border-radius: 100%;
    height: 1em;
    width: 1em;
    flex: 0 0 1em;
    z-index: auto;
    transition: $transition;

    &:before {
      display: block;
      position: absolute;
      content: "";
      border-radius: 100%;
      height: 0.525em;
      width: 0.525em;
      top: 50%;
      left: 50%;
      margin: auto;
      transition: $transition-bounce;
      transform: scale(0) translate(-50%, -50%);
      transform-origin: 0 0;
    }
  }

  input[type="radio"]:checked ~ label {
    color: rgba(var(--primary-color), 1);
  }

  input[type="radio"]:checked ~ .check {
    border-color: rgba(var(--primary-color), 1);
  }

  input[type="radio"]:checked ~ .check::before {
    background: rgba(var(--primary-color), 1);
    transform: scale(1) translate(-50%, -50%);
  }
}

// form check box
.form-group {
  display: block;
  margin-bottom: 15px;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked + label::after {
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: 8px;
      width: 6px;
      height: 14px;
      border: solid rgba(var(--gray-color), 1);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  label {
    font-size: 1.25em;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &::before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid rgba(var(--primary-color), 1);
      padding: 5.5px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 0.875em;
      @media #{$mobL} {
        margin-right: 0.275em;
      }
    }
  }
}


.wpcf7 {
  form {
    .wpcf7-response-output {
      margin: 1em 0 2em;
    }
  }
}
